@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  background-color: red;
}

input,
textarea {
  color: black;
  padding: 10px;
  resize: none;
}
@layer components {
  .Icon_Button {
    @apply size-5;
  }
  .text-overflow {
    @apply overflow-hidden break-words;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @apply line-clamp-2;
    cursor: pointer; /* 포인터를 클릭 가능하게 변경 */
    transition: height 0.3s ease; /* 부드러운 전환 효과 */
  }

  .text-overflow.expanded {
    -webkit-line-clamp: unset; /* 확장 시 제한 해제 */
  }
}
