@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  background-color: transparent;
}

input,
textarea {
  color: black;
  padding: 10px;
  resize: none;
}
@layer components {
  .Icon_Button {
    @apply size-5;
  }
  .text-overflow {
    @apply overflow-hidden break-words min-h-[2rem] pt-2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @apply line-clamp-2;
    cursor: pointer; /* 포인터를 클릭 가능하게 변경 */
    /* transition: height 0.3s ease;  */
  }

  .text-overflow.expanded {
    @apply max-h-[250rem];
    -webkit-line-clamp: unset; /* 확장 시 제한 해제 */
  }
  .post_photo {
    @apply relative aspect-square border-gray-300 rounded-md left-[50%] translate-x-[-50%] my-4 size-60 border-solid ;
  }
}
