@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  background-color: transparent;
}

input,
textarea {
  color: black;
  padding: 10px;
  resize: none;
}
@layer components {
  .Input_Form_Div {
    @apply flex flex-col items-center bg-white shadow-lg rounded-md border-solid border-4 border-primary w-80 h-96;
  }
  .Input_Form {
    @apply flex flex-col items-center gap-2 my-4 space-y-0;
  }
  .Input_Form_Label {
    @apply flex input input-primary  items-center gap-1  border-solid border-gray-300 h-10 min-h-[18px];
  }
  .Icon_Button {
    @apply size-5;
  }
  .text-overflow {
    @apply overflow-hidden break-words min-h-[2rem] pt-2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @apply line-clamp-2;
    cursor: pointer; /* 포인터를 클릭 가능하게 변경 */
    /* transition: height 0.3s ease;  */
  }

  .text-overflow.expanded {
    @apply max-h-[250rem];
    -webkit-line-clamp: unset; /* 확장 시 제한 해제 */
  }
  .post_photo {
    @apply relative aspect-square border-gray-300 rounded-md left-[50%] translate-x-[-50%] my-4  border-solid bg-white;
  }
  .avatar_profile {
    @apply rounded-full cursor-pointer hover:brightness-110 bg-white fill-gray-200 border-solid border-gray-400 size-32;
  }
  .avatar_profile_button {
    @apply btn-circle btn-outline flex items-center justify-center size-10 bg-primary hover:bg-secondary mx-2 disabled:bg-gray-300 border-solid border-2 shadow-md;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

}
